@import 'src/assets/styles/utils';
@import 'src/assets/styles/colors';

.implementation_block_container {
  width: 100%;
  margin-top: 18.51vh;
  @include flexBox(7.4vh, column, normal, normal);

  .text_wrapper {
    width: 100%;
    @include flexBox(0, row, normal, space-between);

    .text_1_wrapper {
      width: 57.7vw;

      .text_1 {
        @include InterRegular(54px, normal);
        color: $color-black;

        &_blue {
          color: #6495ED;
        }
      }
    }

    .text_2_wrapper {
      width: 40.8vw;

      .text_2 {
        @include MontserratLight(30px, normal);
        color: $color-black;
      }
    }
  }

  .steps_wrapper {
    width: 100%;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 5.55vh 3.125vw 8.15vh 3.125vw;
    box-sizing: border-box;
    @include flexBox(6.25vw, row, normal, space-between);
  }
}