@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.collapse {
  background: $color-white;
  padding: 1vh 0.8vw;
  border-radius: 10px;
  width: 78vw;
  box-sizing: border-box;

  .panel_header {
    @include flexBox(2.5vw, row, center, normal);

    .number {
      @include MontserratRegular(min(28px, calc(22px + 6 * ((100vw - 360px) / 407))), normal);
      color: #6495ED;
    }

    .title_panel {
      @include MontserratMedium(min(22px, calc(14px + 8 * ((100vw - 360px) / 407))), normal);
      color: $color-black;
    }
  }

  .button_container {
    @include flexBox(1.85vh, row, center, center);

    .button_download {
      width: min(153px, calc(116px + 37 * ((100vw - 360px) / 407)));
      height: min(40px, calc(26px + 14 * ((100vw - 360px) / 407)));
      border-radius: 10px;
      background: #7AD3C3;
      border: none;
      @include MontserratMedium(min(16px, calc(12px + 4 * ((100vw - 360px) / 407))), normal);
      color: $color-white;

      &:hover {
        cursor: pointer;
      }
    }

    .button_look {
      width: min(153px, calc(116px + 37 * ((100vw - 360px) / 407)));
      height: min(40px, calc(26px + 14 * ((100vw - 360px) / 407)));
      border-radius: 10px;
      background: #F8F9FE;
      border: none;
      @include MontserratMedium(min(16px, calc(12px + 4 * ((100vw - 360px) / 407))), normal);
      color: #6495ED;

      &:hover {
        cursor: pointer;
      }
    }
  }
}