@import "src/assets/styles/utils";
@import "src/assets/styles/colors";


@media screen and (min-width: 1920px) {

  .link {
    text-decoration: none;

    .linkText {
      @include RobotoRegular(18px, normal);
      position: relative;
      background-image: linear-gradient(to left, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
      background-size: 200% 100%;
      background-position: 0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_active {
        background: linear-gradient(91deg, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

  .link {
    text-decoration: none;

    .linkText {
      @include RobotoRegular(16px, normal);
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_active {
        background: linear-gradient(91deg, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {

  .link {
    text-decoration: none;

    .linkText {
      @include RobotoRegular(14px, normal);
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_active {
        background: linear-gradient(91deg, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {

  .link {
    text-decoration: none;

    .linkText {
      @include RobotoRegular(14px, normal);
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_active {
        background: linear-gradient(91deg, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .link {
    text-decoration: none;

    .linkText {
      @include RobotoRegular(12px, normal);
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_active {
        background: linear-gradient(91deg, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .link {
    text-decoration: none;

    .linkText {
      @include RobotoRegular(12px, normal);
      position: relative;
      background-image: linear-gradient(to right, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-position: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_active {
        background: linear-gradient(91deg, rgba(255, 0, 61, 0.60) 0%, rgba(5, 0, 227, 0.60) 50%, #5200FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}