@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.documents_container {
  width: 100%;
  margin-top: 5vh;
  @include flexBox(8.7vh, column, normal, normal);

  .title {
    @include RobotoRegular(min(54px, calc(29px + 25 * ((100vw - 1024px) / 896))), normal);
    color: $color-black;

    &_blue {
      color: #6495ED;
    }
  }

  .card_wrapper {
    width: 100%;
    @include flexBox(0, row, normal, space-between);
  }

  .card_wrapper_tablet {
    display: none;
  }

  .card_wrapper_mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .documents_container {
    width: 100%;
    margin-top: 5vh;
    @include flexBox(8.7vh, column, normal, normal);

    .title {
      @include RobotoRegular(min(29px, calc(26px + 3 * ((100vw - 768px) / 255))), normal);
      color: $color-black;

      &_blue {
        color: #6495ED;
      }
    }

    .card_wrapper {
      display: none;
    }

    .card_wrapper_tablet {
      @include flexBox(4.62vh, column, normal, normal);

      .card_row_tablet {
        width: 100%;
        @include flexBox(2.6vw, row, normal, normal);
      }
    }

    .card_wrapper_mobile {
      display: none;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {

  .documents_container {
    width: 100%;
    margin-top: 9vh;
    @include flexBox(4.7vh, column, normal, normal);

    .title {
      @include RobotoRegular(min(24px, calc(16px + 8 * ((100vw - 360px) / 407))), normal);
      color: $color-black;

      &_blue {
        color: #6495ED;
      }
    }

    .card_wrapper {
      display: none;
    }

    .card_wrapper_tablet {
      display: none;
    }

    .card_wrapper_mobile {
      @include flexBox(1vh, column, flex-end, normal);
    }
  }
}