@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  width: 100%;
  @include flexBox(100px, column, center, center);

  .descriptionBlock {
    width: 80%;
    @include flexBox(30px, column, flex-start);

    .ecmEasy {
      @include regularFont(31px, normal);
      color: $color-black;
      padding-left: 20px;
    }

    .ecmEasyDescription {
      @include regularFont(20px, normal);
      color: $color-black;
      padding-left: 20px;
    }
  }

  .regionBlock {
    width: 70%;
    @include flexBox(80px, column, center, center);

    .regionTitle {
      font-family: Comfortaa, sans-serif;
      font-size: 38px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $color-black;
    }

    .circleBlock {
      width: 100%;
      @include flexBox(0, row, center, space-between);

      .circle {
        width: 250px;
        height: 250px;
        border: 1px solid $nav-bar_hover;
        border-radius: 50%;
        @include flexBox(0, column, center, center);

        .circleText {
          font-family: Oswald, sans-serif;
          color: $nav-bar_hover;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  .tasksBlock {
    width: 70%;
    @include flexBox(50px, column, flex-start);

    .tasksTitle {
      font-family: Comfortaa, sans-serif;
      font-size: 38px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: $color-black;
    }

    .mapBlock {
      @include flexBox(5px, column, flex-start);

      .task {
        @include regularFont(31px, normal);
        color: $color-black;
      }
    }
  }
}