@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  width: 100%;
  @include flexBox(100px, column, center, center);

  .descriptionBlock {
    width: 80%;
    @include flexBox(30px, column, flex-start);

    .ecmEasy {
      @include RobotoRegular(31px, normal);
      color: $color-black;
      padding-left: 20px;
    }

    .ecmEasyDescription {
      @include RobotoRegular(20px, normal);
      color: $color-black;
      padding-left: 20px;
    }
  }

  .regionBlock {
    width: 70%;
    @include flexBox(80px, column, center, center);

    .regionTitle {
      @include ComfortaaRegular(38px, normal);
      color: $color-black;
    }

    .circleBlock {
      width: 100%;
      @include flexBox(0, row, center, space-between);

      .circle {
        width: 250px;
        height: 250px;
        border: 1px solid $nav-bar_hover;
        border-radius: 50%;
        @include flexBox(0, column, center, center);

        .circleText {
          @include OswaldRegular(20px, normal);
          color: $nav-bar_hover;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  .tasksBlock {
    width: 70%;
    @include flexBox(50px, column, flex-start);

    .tasksTitle {
      @include ComfortaaRegular(38px, normal);
      color: $color-black;
    }

    .mapBlock {
      @include flexBox(5px, column, flex-start);

      .task {
        @include RobotoRegular(31px, normal);
        color: $color-black;
      }
    }
  }
}