@import 'src/assets/styles/utils';
@import 'src/assets/styles/colors';

.indicators_container {
  width: 100%;
  margin-top: 13.8vh;
  @include flexBox(15.6vh, column, normal, normal);

  .info_block {
    @include flexBox(0, row, normal, space-between);

    .left_text_block {
      width: 51.5vw;

      .left_text {
        @include RobotoRegular(min(54px, calc(28px + 26 * ((100vw - 1024px) / 896))), normal);
        color: $color-black;

        .blue_text {
          @include RobotoRegular(min(54px, calc(28px + 26 * ((100vw - 1024px) / 896))), normal);
          color: #6495ED;
        }
      }
    }

    .right_text_block {
      width: 38.8vw;

      .text_right {
        @include MontserratLight(min(30px, calc(16px + 14 * ((100vw - 1024px) / 896))), normal);
        color: $color-black;
      }
    }
  }

  .cards_block {
    width: 100%;
    @include flexBox(0, row, normal, space-between);

    .card {
      max-height: 268px;
      width: 31%;
      padding: 3.2vh 0;
      background: #FFFFFF;
      border-radius: 30px;
      @include flexBox(2vh, column, center, space-around);

      .number_value {
        @include RobotoRegular(min(60px, calc(38px + 22 * ((100vw - 1024px) / 896))), normal);
        color: #6495ED;
      }

      .description_container {
        @include flexBox(0, column, center, center);

        .description {
          @include MontserratMedium(min(30px, calc(16px + 14 * ((100vw - 1024px) / 896))), normal);
          color: $color-black;
        }
      }
    }
  }

  .card_block_tablet {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .indicators_container {
    width: 100%;
    margin-top: 13.8vh;
    @include flexBox(15.6vh, column, normal, normal);

    .info_block {
      @include flexBox(0, row, normal, space-between);

      .left_text_block {
        width: 77.5vw;

        .left_text {
          @include RobotoRegular(min(28px, calc(26px + 2 * ((100vw - 768px) / 255))), normal);
          color: $color-black;

          .blue_text {
            @include RobotoRegular(min(28px, calc(26px + 2 * ((100vw - 768px) / 255))), normal);
            color: #6495ED;
          }
        }
      }

      .right_text_block {
        display: none;
      }
    }

    .cards_block {
      display: none;
    }

    .card_block_tablet {
      width: 100%;
      @include flexBox(4.6vh, column, normal, normal);

      .card_line {
        width: 100%;
        @include flexBox(2.6vw, row, normal, normal);

        .card {
          box-sizing: border-box;
          height: 155px;
          width: 100%;
          padding: 3.2vh 0;
          background: #FFFFFF;
          border-radius: 10px;
          @include flexBox(2vh, column, center, space-around);

          .number_value {
            @include RobotoRegular(min(38px, calc(36px + 2 * ((100vw - 768px) / 255))), normal);
            color: #6495ED;
          }

          .description_container {
            @include flexBox(0, column, center, center);

            .description {
              @include MontserratMedium(16px, normal);
              color: $color-black;
            }
          }
        }

        .text_block {
          width: 100%;
          padding: 5px 5px;

          .text_right {
            @include MontserratLight(16px, normal);
            color: $color-black;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {

  .indicators_container {
    width: 100%;
    margin-top: 10vh;
    @include flexBox(6.6vh, column, normal, normal);

    .info_block {
      @include flexBox(3vh, column, normal, normal);

      .left_text_block {
        width: 100%;

        .left_text {
          @include RobotoRegular(min(26px, calc(16px + 10 * ((100vw - 360px) / 407))), normal);
          color: $color-black;

          .blue_text {
            @include RobotoRegular(min(26px, calc(16px + 10 * ((100vw - 360px) / 407))), normal);
            color: #6495ED;
          }
        }
      }

      .right_text_block {
        width: 100%;

        .text_right {
          @include MontserratLight(min(16px, calc(12px + 4 * ((100vw - 360px) / 407))), normal);
          color: $color-black;
        }
      }
    }

    .cards_block {
      width: 100%;
      @include flexBox(2vh, column, center, normal);

      .card {
        height: min(187px, calc(107px + 87 * ((100vw - 360px) / 407)));
        width: min(460px, 100%);
        padding: 3.2vh 0;
        margin: 0 1vh;
        background: #FFFFFF;
        border-radius: 10px;
        @include flexBox(2vh, column, center, center);

        .number_value {
          @include RobotoRegular(min(40px, calc(26px + 14 * ((100vw - 360px) / 407))), normal);
          color: #6495ED;
        }

        .description_container {
          @include flexBox(0, column, center, center);

          .description {
            @include MontserratMedium(min(16px, calc(12px + 4 * ((100vw - 360px) / 407))), normal);
            color: $color-black;
          }
        }
      }
    }

    .card_block_tablet {
      display: none;
    }
  }
}