@import 'src/assets/styles/utils';
@import 'src/assets/styles/colors';

.collapse {
  background: $color-white;
  padding: 1.3vh 2vw;
  border-radius: 30px;
  width: 69.7vw;
  box-sizing: border-box;

  .panel {
    @include RobotoRegular(min(50px, calc(30px + 20 * ((100vw - 1024px) / 896))), normal);
    color: $color-black;

    .panel_header {
      @include flexBox(0, row, center, space-between);

      .img {
        width: min(60px, calc(30px + 30 * ((100vw - 1024px) / 896)));
        height: min(60px, calc(30px + 30 * ((100vw - 1024px) / 896)));
        transition: transform 0.5s ease;

        &_rotate {
          transform: rotate(45deg);
        }
      }
    }

    .ul_block {
      @include flexBox(3.5vh, column, normal, normal);

      .li_row {
        @include MontserratRegular(min(30px, calc(18px + 12 * ((100vw - 1024px) / 896))), normal);
        color: $color-black;
      }
    }
  }


}
