@import "src/assets/styles/colors";
@import "src/assets/styles/utils";

.button {
  @include flexBox(2.6vw, row, center, center);
  width: min(442px, 23vw);
  height: 7.6vh;
  border-radius: 20px;
  background-color: #7CB5FF;
  border: none;
  padding-left: 1.5vw;

  &_main_page_form {
    width: min(600px, calc(320px + 280 * ((100vw - 1024px) / 896)));
    height: min(80px, calc(50px + 30 * ((100vw - 1024px) / 896)));
    border-radius: min(20px, calc(10px + 10 * ((100vw - 1024px) / 896)));
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 50%, rgba(43, 1, 134, 0.50) 100%);
  }

  &:disabled {
    background-color: #D3E0F8;
    cursor: not-allowed;
  }

  .button_text {
    @include MontserratMedium(min(35px, calc(22px + 13 * ((100vw - 1024px) / 896))), normal);
    color: $color-white;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .button {
    @include flexBox(2.6vw, row, center, center);
    width: 47vw;
    height: 52px;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: none;
    padding-left: 5px;

    &_main_page_form {
      width: min(400px, calc(300px + 100 * ((100vw - 768px) / 255)));
      height: min(50px, calc(40px + 10 * ((100vw - 768px) / 255)));
      border-radius: min(20px, calc(10px + 10 * ((100vw - 768px) / 255)));
    }

    &:hover {
      cursor: pointer;
      background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 50%, rgba(43, 1, 134, 0.50) 100%);
    }

    &:disabled {
      background-color: #D3E0F8;
      cursor: not-allowed;
    }

    .img {
      scale: 90%;
    }

    .button_text {
      @include MontserratMedium(20px, normal);
      letter-spacing: 0.4px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .button {
    @include flexBox(0, row, center, center);
    width: 188px;
    height: 36px;
    border-radius: 10px;
    background-color: #7CB5FF;
    border: none;

    &_atp_burger_menu {
      background-color: #7AD3C3;
    }

    &_main_page_form {
      width: min(400px, calc(250px + 150 * ((100vw - 360px) / 407)));
      height: min(50px, calc(40px + 10 * ((100vw - 360px) / 407)));
      border-radius: min(20px, calc(10px + 10 * ((100vw - 360px) / 407)));
    }

    &:hover {
      cursor: pointer;
      background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 50%, rgba(43, 1, 134, 0.50) 100%);
    }

    &:disabled {
      background-color: #D3E0F8;
      cursor: not-allowed;
    }

    .img {
      scale: 60%;
    }

    .button_text {
      @include MontserratMedium(calc(16px + 4 * ((100vw - 320px) / 448)), normal);
      letter-spacing: 0.32px;
      color: $color-white;
    }
  }
}