@import "src/assets/styles/colors";
@import "src/assets/styles/utils";

@media screen and (min-width: 1920px) {

  .button {
    @include flexBox(50px, row, center, flex-start);
    width: 23vw;
    height: 7.6vh;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;
    padding-left: 30px;

    .button_text {
      @include MontserratMedium(35px, normal);
      letter-spacing: 0.7px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {

  .button {
    @include flexBox(38px, row, center, flex-start);
    width: 23vw;
    height: 7.6vh;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;
    padding-left: 25px;

    .button_text {
      @include MontserratMedium(29px, normal);
      letter-spacing: 0.58px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {

  .button {
    @include flexBox(42px, row, center, flex-start);
    width: 23vw;
    height: 7.6vh;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;
    padding-left: 25px;

    .button_text {
      @include MontserratMedium(26px, normal);
      letter-spacing: 0.52px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {

  .button {
    @include flexBox(35px, row, center, flex-start);
    width: 23vw;
    height: 7.6vh;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;
    padding-left: 20px;

    .button_text {
      @include MontserratMedium(23px, normal);
      letter-spacing: 0.46px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {

  .button {
    @include flexBox(20px, row, center, flex-start);
    width: 23vw;
    height: 7.6vh;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;
    padding-left: 5px;

    .img {
      scale: 70%;
    }

    .button_text {
      @include MontserratMedium(22px, normal);
      letter-spacing: 0.44px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .button {
    @include flexBox(20px, row, center, center);
    width: 47vw;
    height: 52px;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;
    padding-left: 5px;

    .img {
      scale: 90%;
    }

    .button_text {
      @include MontserratMedium(20px, normal);
      letter-spacing: 0.4px;
      color: $color-white;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .button {
    @include flexBox(0, row, center, normal);
    width: 188px;
    height: 36px;
    border-radius: 20px;
    background-color: #7CB5FF;
    border: 5px solid #7CB5FF;

    .img {
      scale: 50%;
    }

    .button_text {
      @include MontserratMedium(calc(16px + 4 * ((100vw - 320px) / 448)), normal);
      letter-spacing: 0.32px;
      color: $color-white;
    }
  }
}