@import "src/assets/styles/colors";
@import "src/assets/styles/utils";

.button {
  box-sizing: border-box;
  @include flexBox(0, column, center, center);
  width: 30vw;
  max-width: 573px;
  height: 8.8vh;
  border-radius: 30px;
  border: none;
  background: #7AD3C3;
  cursor: pointer;

  .button_text {
    @include MontserratMedium(calc(27px + 13 * ((100vw - 1024px) / 896)), normal);
    color: $color-white;
  }

  &:hover {
    background: #96C5EF;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .button {
    box-sizing: border-box;
    @include flexBox(0, column, center, center);
    width: 30vw;
    max-width: 573px;
    height: 8.8vh;
    border-radius: 10px;
    border: none;
    background: #7AD3C3;
    cursor: pointer;

    .button_text {
      @include MontserratMedium(calc(18px + 9 * ((100vw - 768px) / 255)), normal);
      color: $color-white;
    }

    &:hover {
      background: #96C5EF;
    }
  }
}