@import "src/assets/styles/colors";
@import "src/assets/styles/utils";

@media screen and (min-width: 1920px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(12vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(200px, normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 26.6vw;
          @include MontserratMedium(36px, normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 76.25vw;
          height: auto;
          padding: 2% 1.84%;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(40px, normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(40px, normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(40px, normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/product_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 17vh 2vw;
      @include flexBox(8vh, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(70px, normal);
        color: $color-pink;
      }

      .product_container {
        @include flexBox(0, row, normal, space-between);

        .product {
          position: relative;

          .atp_container {
            width: 31vw;
            height: 26vh;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0 4px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text {
              @include RobotoRegular(60px, normal);
              filter: blur(4.5px);
            }
          }

          .atp_online {
            position: absolute;
            width: 31vw;
            height: 24vh;
            top: 40%;
            left: 45%;
            padding-top: 10%;
            border-radius: 15px;
            background: rgba(150, 197, 239, 0.90);
            box-shadow: 2px 2px 5px 0 #78A8C2;
            @include flexBox(10px, column, normal, normal);

            .atp_text_1 {
              @include RobotoRegular(52px, normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2 {
              @include MontserratRegular(28px, normal);
              color: $color-white;
              max-width: 50%;
              padding-left: 40%;
            }
          }
        }

        .text_container {
          max-width: 39vw;
          @include flexBox(25px, column, normal, normal);

          .product_name {
            @include MontserratBolt(46px, normal);
            color: #8FBBE2;
          }

          .text {
            @include MontserratRegular(36px, normal);
          }
        }
      }

      .product_container_mobile {
        display: none;
      }
    }

    .about_us_block {
      width: 100%;
      height: 100vh;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 20vh 2vw 0 2vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        @include flexBox(1.25vw, row, normal, normal);

        .cards_container {
          @include flexBox(2vh, column, normal, normal);

          .cards_line {
            @include flexBox(1vw, row, normal, normal);
          }

          .card_without_back {
            width: 23vw;
            height: 22.77vh;
            box-sizing: border-box;
            padding-left: 10px;

            .card_without_back_text {
              @include MontserratRegular(24px, normal);
              color: $color-black;
            }
          }

          .card_1 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/ERP.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_2 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/Vertyalization.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_3 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/CPM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_4 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_text {
            @include MontserratBolt(30px, normal);
            color: $color-white;
          }
        }

        .connect_container {
          @include flexBox(2.2vh, column, normal, normal);

          .connect_card {
            @include flexBox(0, column, center, center);
            width: 23vw;
            height: 37.8vh;
            background-image: url("../../assets/image/MainPage/ECM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;

            .connect_card_text {
              @include MontserratBolt(30px, normal);
              color: $color-white;
            }
          }
        }
      }

      .img_container_tablet {
        display: none;
      }

      .img_container_mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(12vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(166px, normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 26.6vw;
          @include MontserratMedium(30px, normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 76.25vw;
          height: auto;
          padding: 2% 1.84%;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(33px, normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(33px, normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(33px, normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/product_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 17vh 2vw;
      @include flexBox(8vh, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(58px, normal);
        color: $color-pink;
      }

      .product_container {
        @include flexBox(0, row, normal, space-between);

        .product {
          position: relative;

          .atp_container {
            width: 31vw;
            height: 26vh;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0 4px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text {
              @include RobotoRegular(50px, normal);
              filter: blur(4px);
            }
          }

          .atp_online {
            position: absolute;
            width: 31vw;
            height: 21vh;
            top: 40%;
            left: 45%;
            padding-top: 10%;
            border-radius: 15px;
            background: rgba(150, 197, 239, 0.90);
            box-shadow: 2px 2px 5px 0 #78A8C2;
            @include flexBox(10px, column, normal, normal);

            .atp_text_1 {
              @include RobotoRegular(43px, normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2 {
              @include MontserratRegular(23px, normal);
              color: $color-white;
              max-width: 50%;
              padding-left: 40%;
            }
          }
        }

        .text_container {
          max-width: 39vw;
          @include flexBox(28px, column, normal, normal);

          .product_name {
            @include MontserratBolt(38px, normal);
            color: #8FBBE2;
          }

          .text {
            @include MontserratRegular(30px, normal);
          }
        }
      }

      .product_container_mobile {
        display: none;
      }
    }

    .about_us_block {
      width: 100%;
      height: 100vh;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 20vh 2vw 0 2vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        @include flexBox(1.25vw, row, normal, normal);

        .cards_container {
          @include flexBox(1.5vh, column, normal, normal);

          .cards_line {
            @include flexBox(1vw, row, normal, normal);
          }

          .card_without_back {
            width: 23vw;
            height: 22.77vh;
            box-sizing: border-box;
            padding-left: 10px;

            .card_without_back_text {
              @include MontserratRegular(20px, normal);
              color: $color-black;
            }
          }

          .card_1 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/ERP.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_2 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/Vertyalization.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_3 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/CPM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_4 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_text {
            @include MontserratBolt(25px, normal);
            color: $color-white;
          }
        }

        .connect_container {
          @include flexBox(2.2vh, column, normal, normal);

          .connect_card {
            @include flexBox(0, column, center, center);
            width: 23vw;
            height: 37.8vh;
            background-image: url("../../assets/image/MainPage/ECM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;

            .connect_card_text {
              @include MontserratBolt(25px, normal);
              color: $color-white;
            }
          }
        }
      }

      .img_container_tablet {
        display: none;
      }

      .img_container_mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(12vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(154px, normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 26.6vw;
          @include MontserratMedium(28px, normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 76.25vw;
          height: auto;
          padding: 2% 1.84%;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(31px, normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(31px, normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(31px, normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/product_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 17vh 2vw;
      @include flexBox(8vh, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(54px, normal);
        color: $color-pink;
      }

      .product_container {
        @include flexBox(0, row, normal, space-between);

        .product {
          position: relative;

          .atp_container {
            width: 31vw;
            height: 26vh;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0 4px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text {
              @include RobotoRegular(46px, normal);
              filter: blur(3.5px);
            }
          }

          .atp_online {
            position: absolute;
            width: 31vw;
            height: 22vh;
            top: 52%;
            left: 45%;
            padding-top: 10%;
            border-radius: 15px;
            background: #96C5EF;
            box-shadow: 2px 2px 5px 0 #78A8C2;
            @include flexBox(9px, column, normal, normal);

            .atp_text_1 {
              @include RobotoRegular(40px, normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2 {
              @include MontserratRegular(21px, normal);
              color: $color-white;
              max-width: 50%;
              padding-left: 40%;
            }
          }
        }

        .text_container {
          max-width: 39vw;
          @include flexBox(22px, column, normal, normal);

          .product_name {
            @include MontserratBolt(31px, normal);
            color: #8FBBE2;
          }

          .text {
            @include MontserratRegular(24px, normal);
          }
        }
      }

      .product_container_mobile {
        display: none;
      }
    }

    .about_us_block {
      width: 100%;
      height: 100vh;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 20vh 2vw 0 2vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        @include flexBox(1.25vw, row, normal, normal);

        .cards_container {
          @include flexBox(1.5vh, column, normal, normal);

          .cards_line {
            @include flexBox(1vw, row, normal, normal);
          }

          .card_without_back {
            width: 23vw;
            height: 22.77vh;
            box-sizing: border-box;
            padding-left: 10px;

            .card_without_back_text {
              @include MontserratRegular(18px, normal);
              color: $color-black;
            }
          }

          .card_1 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/ERP.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_2 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/Vertyalization.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_3 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/CPM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_4 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_text {
            @include MontserratBolt(23px, normal);
            color: $color-white;
          }
        }

        .connect_container {
          @include flexBox(2.2vh, column, normal, normal);

          .connect_card {
            @include flexBox(0, column, center, center);
            width: 23vw;
            height: 37.8vh;
            background-image: url("../../assets/image/MainPage/ECM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;

            .connect_card_text {
              @include MontserratBolt(23px, normal);
              color: $color-white;
            }
          }
        }
      }

      .img_container_tablet {
        display: none;
      }

      .img_container_mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(12vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(134px, normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 26.6vw;
          @include MontserratMedium(24px, normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 76.25vw;
          height: auto;
          padding: 2% 1.84%;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(27px, normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(27px, normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(27px, normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/product_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 17vh 2vw;
      @include flexBox(8vh, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(48px, normal);
        color: $color-pink;
      }

      .product_container {
        @include flexBox(0, row, normal, space-between);

        .product {
          position: relative;

          .atp_container {
            width: 31vw;
            height: 26vh;
            border-radius: 15px;
            background: #FFFFFF;
            box-shadow: 0 4px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text {
              @include RobotoRegular(40px, normal);
              color: rgba(51, 51, 51, 0.80);
              filter: blur(3px);
            }
          }

          .atp_online {
            position: absolute;
            width: 31vw;
            height: 22vh;
            top: 42%;
            left: 45%;
            padding-top: 10%;
            border-radius: 15px;
            background: #96C5EF;
            box-shadow: 0 4px 20px 0 #78A8C2;
            @include flexBox(8px, column, normal, normal);

            .atp_text_1 {
              @include RobotoRegular(35px, normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2 {
              @include MontserratRegular(18px, normal);
              color: $color-white;
              max-width: 50%;
              padding-left: 40%;
            }
          }
        }

        .text_container {
          max-width: 39vw;
          @include flexBox(18px, column, normal, normal);

          .product_name {
            @include MontserratBolt(31px, normal);
            color: #8FBBE2;
          }

          .text {
            @include MontserratRegular(24px, normal);
          }
        }
      }

      .product_container_mobile {
        display: none;
      }
    }

    .about_us_block {
      width: 100%;
      height: 100vh;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 20vh 2vw 0 2vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        @include flexBox(1.25vw, row, normal, normal);

        .cards_container {
          @include flexBox(2vh, column, normal, normal);

          .cards_line {
            @include flexBox(1vw, row, normal, normal);
          }

          .card_without_back {
            width: 23vw;
            height: 22.77vh;
            box-sizing: border-box;
            padding-left: 10px;

            .card_without_back_text {
              @include MontserratRegular(16px, normal);
              color: $color-black;
            }
          }

          .card_1 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/ERP.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_2 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/Vertyalization.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_3 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/CPM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_4 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_text {
            @include MontserratBolt(20px, normal);
            color: $color-white;
          }
        }

        .connect_container {
          @include flexBox(2.2vh, column, normal, normal);

          .connect_card {
            @include flexBox(0, column, center, center);
            width: 23vw;
            height: 37.8vh;
            background-image: url("../../assets/image/MainPage/ECM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;

            .connect_card_text {
              @include MontserratBolt(20px, normal);
              color: $color-white;
            }
          }
        }
      }

      .img_container_tablet {
        display: none;
      }

      .img_container_mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(12vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(106px, normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 26.6vw;
          @include MontserratMedium(19px, normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 76.25vw;
          height: auto;
          padding: 2% 1.84%;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(21px, normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(21px, normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(21px, normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/product_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 17vh 2vw;
      @include flexBox(8vh, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(37px, normal);
        color: $color-pink;
      }

      .product_container {
        @include flexBox(0, row, normal, space-between);

        .product {
          position: relative;

          .atp_container {
            width: 31vw;
            height: 22vh;
            border-radius: 15px;
            background: #FFFFFF;
            box-shadow: 0 4px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text {
              @include RobotoRegular(32px, normal);
              color: rgba(51, 51, 51, 0.80);
              filter: blur(2px);
            }
          }

          .atp_online {
            position: absolute;
            width: 31vw;
            height: 20vh;
            top: 41%;
            left: 45%;
            padding-top: 10%;
            border-radius: 15px;
            background: #96C5EF;
            box-shadow: 2px 2px 5px 0 #78A8C2;
            @include flexBox(7px, column, normal, normal);

            .atp_text_1 {
              @include RobotoRegular(28px, normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2 {
              @include MontserratRegular(18px, normal);
              color: $color-white;
              max-width: 65%;
              padding-left: 35%;
            }
          }
        }

        .text_container {
          max-width: 39vw;
          @include flexBox(14px, column, normal, normal);

          .product_name {
            @include MontserratBolt(25px, normal);
            color: #8FBBE2;
          }

          .text {
            @include MontserratRegular(20px, normal);
          }
        }
      }

      .product_container_mobile {
        display: none;
      }
    }

    .about_us_block {
      width: 100%;
      height: 100vh;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 20vh 2vw 0 2vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        @include flexBox(1.25vw, row, normal, normal);

        .cards_container {
          @include flexBox(2vh, column, normal, normal);

          .cards_line {
            @include flexBox(1vw, row, normal, normal);
          }

          .card_without_back {
            width: 23vw;
            height: 22.77vh;
            box-sizing: border-box;
            padding-left: 10px;

            .card_without_back_text {
              @include MontserratRegular(14px, normal);
              color: $color-black;
            }
          }

          .card_1 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/ERP.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_2 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/Vertyalization.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_3 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/CPM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_4 {
            width: 22.8vw;
            height: 22.77vh;
            background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_text {
            @include MontserratBolt(19px, normal);
            color: $color-white;
          }
        }

        .connect_container {
          @include flexBox(2.2vh, column, normal, normal);

          .connect_card {
            @include flexBox(0, column, center, center);
            width: 23vw;
            height: 37.8vh;
            background-image: url("../../assets/image/MainPage/ECM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;

            .connect_card_text {
              @include MontserratBolt(19px, normal);
              color: $color-white;
            }
          }
        }
      }

      .img_container_tablet {
        display: none;
      }

      .img_container_mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(12vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(80px, normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 26.6vw;
          @include MontserratMedium(14.4px, normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 76.25vw;
          height: auto;
          padding: 2% 1.84%;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(16px, normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(16px, normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(16px, normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/product_block_background.png");
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 17vh 2vw;
      @include flexBox(8vh, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(28px, normal);
        color: $color-pink;
      }

      .product_container {
        @include flexBox(0, row, normal, space-between);

        .product {
          position: relative;

          .atp_container {
            width: 31vw;
            height: 26vh;
            border-radius: 15px;
            background: #FFFFFF;
            box-shadow: 2px 2px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text {
              @include RobotoRegular(24px, normal);
              color: rgba(51, 51, 51, 0.80);
              filter: blur(2px);
            }
          }

          .atp_online {
            position: absolute;
            width: 31vw;
            height: 24vh;
            top: 39%;
            left: 45%;
            padding-top: 10%;
            border-radius: 15px;
            background: #96C5EF;
            box-shadow: 2px 2px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(5px, column, normal, normal);

            .atp_text_1 {
              @include RobotoRegular(22px, normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2 {
              @include MontserratRegular(14px, normal);
              color: $color-white;
              max-width: 65%;
              padding-left: 35%;
            }
          }
        }

        .text_container {
          max-width: 45vw;
          @include flexBox(12px, column, normal, normal);

          .product_name {
            @include MontserratBolt(22px, normal);
            color: #8FBBE2;
          }

          .text {
            @include MontserratRegular(15px, normal);
          }
        }
      }

      .product_container_mobile {
        display: none;
      }
    }

    .about_us_block {
      width: 100%;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 20vh 2vw 6vh 2vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        display: none;
      }

      .img_container_tablet {
        @include flexBox(2vh, column, normal, normal);

        .cards_container_tablet {
          @include flexBox(0, row, normal, space-between);

          .cards_column {
            @include flexBox(10px, column, normal, normal);
          }

          .card_without_back_tablet {
            width: 47vw;
            height: 150px;
            box-sizing: border-box;
            padding-left: 10px;
            @include flexBox(0, column, center, center);

            .card_without_back_text_tablet {
              @include MontserratRegular(15px, normal);
              color: $color-black;
            }
          }

          .card_1 {
            width: 47vw;
            height: 150px;
            background-image: url("../../assets/image/MainPage/ERP.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_2 {
            width: 47vw;
            height: 150px;
            background-image: url("../../assets/image/MainPage/Vertyalization.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_3 {
            width: 47vw;
            height: 150px;
            background-image: url("../../assets/image/MainPage/CPM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_4 {
            width: 47vw;
            height: 150px;
            background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            @include flexBox(0, column, center, center);
          }

          .card_text {
            @include MontserratBolt(16px, normal);
            color: $color-white;
          }

          .connect_card_tablet {
            @include flexBox(0, column, center, center);
            width: 47vw;
            height: 248px;
            background-image: url("../../assets/image/MainPage/ECM.png");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;

            .connect_card_text_tablet {
              @include MontserratBolt(16px, normal);
              color: $color-white;
            }
          }
        }
      }

      .img_container_mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .scroll_container {
    @include flexBox(0, column, flex-start, normal);

    .advert_block {
      width: 100%;
      height: 100vh;
      background-image: url("../../assets/image/MainPage/advert_block_background_mobile.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      @include flexBox(20vh, column, flex-start, normal);
      box-sizing: border-box;
      padding: 20vh 2vw;

      .adjna_block {
        box-sizing: border-box;
        @include flexBox(0, column, flex-start, normal);

        .companyName {
          @include RobotoRegular(calc(40px + 40 * ((100vw - 320px) / 448)), normal);
          background: linear-gradient(90deg, rgba(255, 0, 61, 0.40) 0%, rgba(5, 0, 227, 0.40) 49.46%, rgba(43, 1, 134, 0.50) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .text_2 {
          padding-left: 12.6vw;
          @include MontserratMedium(calc(10px + 5 * ((100vw - 320px) / 448)), normal);
          color: $color-advert-text;
        }
      }

      .we_create_container {
        width: 100%;
        @include flexBox(0, row, normal, flex-end);

        .we_create_back {
          box-sizing: border-box;
          width: 85.25vw;
          height: auto;
          padding: 2% 6.84%;
          border-radius: 16px;
          background: rgba(255, 255, 255, 0.60);

          .we_create_text {
            @include MontserratRegular(calc(12px + 4 * ((100vw - 320px) / 448)), normal);
            opacity: 0.5;
            background: linear-gradient(270deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            .part_1 {
              @include MontserratRegular(calc(12px + 4 * ((100vw - 320px) / 448)), normal);
              background: linear-gradient(272deg, #2B0186 0%, #0600E0 51.03%, rgba(5, 0, 227, 0.50) 51.04%, #FF003D 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            .part_2 {
              @include MontserratRegular(calc(12px + 4 * ((100vw - 320px) / 448)), normal);
              background: linear-gradient(272deg, #FF003D 0%, #0500E3 51.04%, #2B0186 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }

    .product_block {
      width: 100%;
      height: auto;
      background-image: url("../../assets/image/MainPage/product_block_background_mobile.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 12vh 4vw;
      @include flexBox(20px, column, normal, normal);

      .product_h1 {
        @include RobotoBolt(calc(22px + 6 * ((100vw - 320px) / 448)), normal);
        color: $color-pink;
      }

      .product_container {
        display: none;
      }

      .product_container_mobile {
        @include flexBox(20px, column, normal, normal);

        .text_container_mobile {
          @include flexBox(3px, column, normal, normal);
          box-sizing: border-box;
          padding-left: 20%;

          .product_name_mobile {
            @include MontserratBolt(calc(15px + 7 * ((100vw - 320px) / 448)), normal);
            color: #8FBBE2;
          }

          .text_mobile {
            @include MontserratRegular(calc(14px + 1 * ((100vw - 320px) / 448)), normal);
          }
        }

        .product_mobile {
          position: relative;

          .atp_container_mobile {
            width: 58.7vw;
            max-width: 300px;
            height: 100px;
            border-radius: 15px;
            background: #FFFFFF;
            box-shadow: 2px 2px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(0, column, center, center);

            .avtoplan_text_mobile {
              @include RobotoRegular(calc(22px + 2 * ((100vw - 320px) / 448)), normal);
              color: rgba(51, 51, 51, 0.80);
              filter: blur(2px);
            }
          }

          .atp_online_mobile {
            position: absolute;
            width: 58.7vw;
            max-width: 300px;
            height: 90px;
            top: 65%;
            left: 35%;
            padding-top: 4%;
            border-radius: 15px;
            background: #96C5EF;
            box-shadow: 2px 2px 5px 0 rgba(120, 168, 194, 0.50);
            @include flexBox(5px, column, normal, normal);

            .atp_text_1_mobile {
              @include RobotoRegular(calc(20px + 2 * ((100vw - 320px) / 448)), normal);
              color: $color-white;
              padding-left: 7%;
            }

            .atp_text_2_mobile {
              @include MontserratRegular(calc(12px + 2 * ((100vw - 320px) / 448)), normal);
              color: $color-white;
              max-width: 65%;
              padding-left: 30%;
            }
          }
        }

        .text_2_mobile {
          padding-top: 75px;
          @include MontserratRegular(calc(14px + 1 * ((100vw - 320px) / 448)), normal);
        }
      }
    }

    .about_us_block {
      width: 100%;
      transition: transform 0.5s ease;
      box-sizing: border-box;
      padding: 10vh 4vw 6vh 4vw;
      @include flexBox(10vh, column, normal, normal);

      .img_container {
        display: none;
      }

      .img_container_tablet {
        display: none;
      }

      .img_container_mobile {
        @include flexBox(20px, column, flex-end, normal);

        .card_without_back_text_mobile {
          @include MontserratRegular(calc(12px + 3 * ((100vw - 320px) / 448)), normal);
          color: $color-black;
        }

        .cards_block_mobile {
          width: 100%;
          @include flexBox(0, row, normal, space-between);

          .cards_column_mobile {
            @include flexBox(10px, column, normal, normal);

            .card_1_mobile {
              width: 45vw;
              height: 100px;
              background-image: url("../../assets/image/MainPage/ERP.png");
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 16px;
              @include flexBox(0, column, center, center);
            }

            .card_2_mobile {
              width: 45vw;
              height: 100px;
              background-image: url("../../assets/image/MainPage/Vertyalization.png");
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 16px;
              @include flexBox(0, column, center, center);
            }

            .card_3_mobile {
              width: 45vw;
              height: 100px;
              background-image: url("../../assets/image/MainPage/CPM.png");
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 16px;
              @include flexBox(0, column, center, center);
            }

            .card_4_mobile {
              width: 45vw;
              height: 100px;
              background-image: url("../../assets/image/MainPage/DevelopForOrder.png");
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 16px;
              @include flexBox(0, column, center, center);
            }

            .card_text_mobile {
              @include MontserratBolt(13px, normal);
              color: $color-white;
            }

            .connect_card_tablet_mobile {
              @include flexBox(0, column, center, center);
              width: 45vw;
              height: 212px;
              background-image: url("../../assets/image/MainPage/ECM.png");
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 16px;

              .connect_card_text_tablet_mobile {
                @include MontserratBolt(calc(14px + 2 * ((100vw - 320px) / 448)), normal);
                color: $color-white;
              }
            }
          }
        }
      }
    }
  }
}