@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  @include flexBox(10px, column, normal, normal);

  .input {
    box-sizing: border-box;
    width: min(580px, calc(300px + 280 * ((100vw - 1024px) / 896)));
    height: min(95px, calc(50px + 45 * ((100vw - 1024px) / 896)));
    border-radius: min(30px, calc(15px + 15 * ((100vw - 1024px) / 896)));
    border: none;
    padding-left: min(26px, calc(13px + 13 * ((100vw - 1024px) / 896)));
    background: rgba(120, 160, 233, 0.71);
    @include MontserratRegular(min(32px, calc(16px + 16 * ((100vw - 1024px) / 896))), normal);
    color: $color-white;

    &::placeholder {
      @include MontserratRegular(min(32px, calc(16px + 16 * ((100vw - 1024px) / 896))), normal);
      color: $color-white;
    }

    &_error {
      border: 2px solid $color-error;
    }
  }

  .input_main_page {
    box-sizing: border-box;
    width: min(600px, calc(320px + 280 * ((100vw - 1024px) / 896)));
    height: min(80px, calc(50px + 30 * ((100vw - 1024px) / 896)));
    border-radius: min(20px, calc(10px + 10 * ((100vw - 1024px) / 896)));
    border: none;
    padding-left: min(26px, calc(13px + 13 * ((100vw - 1024px) / 896)));
    background: #F8F9FE;
    @include MontserratRegular(min(28px, calc(14px + 14 * ((100vw - 1024px) / 896))), normal);
    color: #919294;

    &::placeholder {
      @include MontserratRegular(min(28px, calc(14px + 14 * ((100vw - 1024px) / 896))), normal);
      color: #919294;
    }

    &_error {
      border: 2px solid $color-error;
    }
  }

  .errorMessage {
    @include MontserratRegular(calc(10px + 5 * ((100vw - 1024px) / 896)), normal);
    color: $color-error;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .container {
    @include flexBox(10px, column, normal, normal);

    .input {
      box-sizing: border-box;
      width: min(437px, calc(337px + 100 * ((100vw - 768px) / 255)));
      height: min(45px, calc(40px + 45 * ((100vw - 768px) / 255)));
      border-radius: 10px;
      border: none;
      padding-left: min(26px, calc(13px + 13 * ((100vw - 768px) / 255)));
      background: rgba(120, 160, 233, 0.71);
      @include MontserratRegular(min(18px, calc(16px + 2 * ((100vw - 768px) / 255))), normal);
      color: $color-white;


      &::placeholder {
        @include MontserratRegular(min(18px, calc(16px + 2 * ((100vw - 768px) / 255))), normal);
        color: $color-white;
      }

      &_error {
        border: 2px solid $color-error;
      }
    }

    .input_main_page {
      box-sizing: border-box;
      width: min(400px, calc(300px + 100 * ((100vw - 768px) / 255)));
      height: min(50px, calc(40px + 10 * ((100vw - 768px) / 255)));
      border-radius: min(20px, calc(10px + 10 * ((100vw - 768px) / 255)));
      border: none;
      padding-left: min(26px, calc(13px + 13 * ((100vw - 768px) / 255)));
      background: #F8F9FE;
      @include MontserratRegular(min(20px, calc(14px + 6 * ((100vw - 768px) / 255))), normal);
      color: #919294;

      &::placeholder {
        @include MontserratRegular(min(20px, calc(14px + 6 * ((100vw - 768px) / 255))), normal);
        color: #919294;
      }

      &_error {
        border: 2px solid $color-error;
      }
    }

    .errorMessage {
      @include MontserratRegular(calc(8px + 4 * ((100vw - 768px) / 255)), normal);
      color: $color-error;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {

  .container {
    @include flexBox(10px, column, normal, normal);

    /*.input {
      box-sizing: border-box;
      width: min(437px, calc(337px + 100 * ((100vw - 360px) / 407)));
      height: min(45px, calc(40px + 45 * ((100vw - 360px) / 407)));
      border-radius: 10px;
      border: none;
      padding-left: min(26px, calc(13px + 13 * ((100vw - 768px) / 255)));
      background: rgba(120, 160, 233, 0.71);
      @include MontserratRegular(min(18px, calc(16px + 2 * ((100vw - 768px) / 255))), normal);
      color: $color-white;


      &::placeholder {
        @include MontserratRegular(min(18px, calc(16px + 2 * ((100vw - 768px) / 255))), normal);
        color: $color-white;
      }

      &_error {
        border: 2px solid $color-error;
      }
    }*/

    .input_main_page {
      box-sizing: border-box;
      width: min(400px, calc(250px + 150 * ((100vw - 360px) / 407)));
      height: min(50px, calc(40px + 10 * ((100vw - 360px) / 407)));
      border-radius: min(20px, calc(10px + 10 * ((100vw - 360px) / 407)));
      border: none;
      padding-left: min(26px, calc(13px + 13 * ((100vw - 360px) / 407)));
      background: #F8F9FE;
      @include MontserratRegular(min(20px, calc(12px + 8 * ((100vw - 360px) / 407))), normal);
      color: #919294;

      &::placeholder {
        @include MontserratRegular(min(20px, calc(12px + 8 * ((100vw - 360px) / 407))), normal);
        color: #919294;
      }

      &_error {
        border: 2px solid $color-error;
      }
    }

    .errorMessage {
      @include MontserratRegular(8px, normal);
      color: $color-error;
    }
  }
}

