@import "src/assets/styles/colors";
@import "src/assets/styles/utils";

@media screen and (min-width: 1920px) {
  .headerContainer {
    background: rgb(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 1920px;
    width: 100%;
    height: 7.4vh;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);


    .logo_container {
      height: 97%;
      width: 7%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
      width: 6%;
    }

    .buttonsBlock {
      @include flexBox(100px, row, normal, normal);
    }

    .burger_menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .headerContainer {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 1919px;
    width: 100%;
    height: 7.4vh;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);

    .logo_container {
      height: 97%;
      width: 7%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
    }

    .buttonsBlock {
      @include flexBox(92px, row, normal, normal);
    }

    .burger_menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  .headerContainer {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 1599px;
    width: 100%;
    height: 7.4vh;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);

    .logo_container {
      height: 97%;
      width: 7%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
    }

    .buttonsBlock {
      @include flexBox(77px, row, normal, normal);
    }

    .burger_menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .headerContainer {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 1439px;
    width: 100%;
    height: 7.4vh;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);

    .logo_container {
      height: 97%;
      width: 7%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
    }

    .buttonsBlock {
      @include flexBox(67px, row, normal, normal);
    }

    .burger_menu {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .headerContainer {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 1279px;
    width: 100%;
    height: 7.4vh;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);

    .logo_container {
      height: 90%;
      width: 8%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
      width: 7%;
    }

    .buttonsBlock {
      @include flexBox(53px, row, normal, normal);
    }

    .burger_menu {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .headerContainer {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 1023px;
    width: 100%;
    height: 7.4vh;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);

    .logo_container {
      height: 97%;
      width: 7%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
      width: 7%;
    }

    .buttonsBlock {
      @include flexBox(40px, row, normal, normal);
    }

    .burger_menu {
      display: none;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .headerContainer {
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 997;
    max-width: 767px;
    width: 100%;
    height: 43px;
    padding: 0 4%;
    fill: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: $color-header-box-shadow;
    @include flexBox(0, row, center, space-between);

    .logo_container {
      height: 75%;
      width: 16%;
      background-image: url("../../assets/image/Header/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .back_arrow {
      cursor: pointer;
      width: 10%;
    }

    .buttonsBlock {
      display: none;
    }

    .burger_menu {
      padding-right: 10px;
    }
  }
}