@import 'src/assets/styles/utils';
@import 'src/assets/styles/colors';

.program_complex_block_container {
  width: 100%;
  margin-top: 24vh;
  @include flexBox(3.7vh, column, normal, normal);

  .row_container {
    width: 100%;
    @include flexBox(2.08vw, row, normal, normal);

    .text_card {
      height: min(420px, calc(210px + 210 * ((100vw - 1024px) / 896)));
      width: min(420px, calc(210px + 210 * ((100vw - 1024px) / 896)));
      @include flexBox(0, column, center, center);
    }

    .title_text {
      @include RobotoRegular(min(50px, calc(25px + 25 * ((100vw - 1024px) / 896))), normal);
      color: $color-black;

      &_blue {
        color: #6495ED;
      }
    }

    .description_text {
      @include MontserratLight(min(30px, calc(15px + 15 * ((100vw - 1024px) / 896))), normal);
      color: $color-black;
    }

    .button {
      height: min(420px, calc(210px + 210 * ((100vw - 1024px) / 896)));
      width: min(420px, calc(210px + 210 * ((100vw - 1024px) / 896)));
      border-radius: 30px;
      border: none;
      @include flexBox(0, column, center, center);
      background: #7AD3C3;

      &:hover {
        cursor: pointer;
        background: #96C5EF;
      }

      .button_text {
        @include MontserratMedium(min(40px, calc(20px + 20 * ((100vw - 1024px) / 896))), normal);
        color: $color-white;
      }
    }
  }
}