@import 'src/assets/styles/utils';
@import 'src/assets/styles/colors';

.atp_block_container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  border-radius: 60px;
  background: url("../../../../assets/image/ATP-online/tracks.png") right bottom 40% / auto no-repeat, white;
  padding: 19.4vh 3.5vw 0 3.5vw;

  .logo_block {
    @include flexBox(0, row, normal, normal);
    position: relative;

    .title_block {
      @include flexBox(0, column, normal, normal);

      .title_text {
        @include RobotoRegular(68px, normal);
        color: $color-black;
      }
    }
  }

  .description_block {
    box-sizing: border-box;
    @include flexBox(0, column, normal, normal);
    margin-top: 10vh;

    .text_description {
      @include MontserratRegular(36px, normal);
      color: $color-black;
    }
  }

  .button {
    box-sizing: border-box;
    @include flexBox(0, column, center, center);
    margin-top: 9.25vh;
    width: 30vw;
    height: 8.8vh;
    border-radius: 30px;
    border: none;
    background: #7AD3C3;
    cursor: pointer;

    .button_text {
      @include MontserratMedium(40px, normal);
      color: $color-white;
    }

    &:hover {
      background: #96C5EF;
    }
  }
}