@import "src/assets/styles/utils";
@import "src/assets/styles/colors";

.container {
  @include flexBox(50px, column, center, normal);

  .descriptionBlock {
    width: 80%;
    @include flexBox(4.4vw, row, normal, normal);

    .info {
      @include MontserratRegular(calc(16px + 9 * ((100vw - 1024px) / 896)), normal);
    }

    .about_us_img {
      width: 30.7vw;
      height: 32.5vh;
    }
  }

  .expertiseBlock {
    @include flexBox(0, column, center, center);

    .text {
      @include RobotoBolt(calc(24px + 14 * ((100vw - 1024px) / 896)), normal);
      color: #F08DA9;
    }
  }
}